@import '../../styles/colors';

.user {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    &__status {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $user-status-circle__on;
        margin-right: 1rem;
    }
}