.chat__container {
  width: 60rem;
  height: 30rem;
  margin-top: 10rem;
  border: 1px solid black;
}

.chat__container__content {
  height: 100%;
}

.chat__container__content__column {
  max-height: 100%;
}

div.noPadding {
  padding-left: 0;
  padding-right: 0;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}