.user {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.user__status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: green;
    margin-right: 1rem;
}