$chat-border: black;

$users-bar-header: rgb(0, 188, 212);
$users-bar-header_font_color: white;
$users-bar-shadow: grey;

$user-status-circle__on: green;

$messages-window-background-color: rgb(234, 234, 234);
$messages-background: white;
$message-author: green;