@import '../../styles/colors';

.users-bar {
    min-width: 20%;
    box-shadow: 1px 0 5px $users-bar-shadow;
    height: 100%;

    &__header {
        background-color: $users-bar-header;
        font-size: x-large;
        padding: 1rem 0 1rem 1rem;
        text-transform: capitalize;
        color: $users-bar-header_font_color;
    }

    &__user-list {
        margin-left: 1rem;
    }
}