@import '../../styles/colors';

.chat__container {
  margin-top: 150px;
  border: 1px solid $chat-border;

  &__content {
    height: 100%;
    &__column {
      max-height: 100%;
    }
  }
}

@media (min-height: 720px) {
  .chat__container__content {
    min-height: 530px;
  }
}