$messages_window_background_color: rgb(234, 234, 234);

.messages-window {
  padding: 5% 20%;
  height: 100%;

  &__window {
    background: $messages_window_background_color;
    overflow-y: scroll;
    height: 90%;
  }

  &__send-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 2rem;
  }

  &__send-bar {
    &__input {
      width: 80%;
    }
  }

  &__send-bar {
    &__send-btn {
      width: 20%;
    }
  }
}