.message {
  background-color: white;
  border-radius: 1rem;
  padding: 0 0.5rem;
  margin: 1rem 1rem;
  max-width: 50%;
}

.message__author {
  color: green;
  font-weight: bold;
}

.message__content {

}